{% extends 'DunglasCarRentalBundle::layout.html.twig' %}

{% block content %}
<h1>Vehicle list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Numberplate</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('vehicle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.model.manufacturer }}</td>
            <td>{{ entity.model }}</td>
            <td>{{ entity.numberPlate }}</td>
            <td>{{ entity.active }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('vehicle_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('vehicle_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('vehicle_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}