{% extends 'DunglasCarRentalBundle::layout.html.twig' %}

{% block content %}
<h1>Customer list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('customer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.lastName }}</td>
            <td>{{ entity.firstName }}</td>
            <td>{{ entity.active }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('customer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('customer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('customer_new') }}">
            Create a new customer
        </a>
    </li>
</ul>
{% endblock %}